In [1]:
import numpy as np
import pandas as pd
import patsy
from liteglm import glm_svd_newton, glm_svd_newton_dm, irls_incremental_dm, irls_incremental

In [2]:
Contraception = pd.read_parquet('Contraception.parquet', engine='pyarrow')
y=Contraception.use.eq('Y').mul(1)
y=np.asarray(y)

In [3]:
X = patsy.dmatrix("age + I(age**2) + urban + livch", data=Contraception, return_type='dataframe')

In [4]:
glm_svd_newton_dm(X, y)

(                    0
 Intercept   -0.949952
 urban[T.Y]   0.768097
 livch[T.1]   0.783113
 livch[T.2]   0.854904
 livch[T.3+]  0.806025
 age          0.004584
 I(age ** 2) -0.004286, 5, 7, array([0, 1, 2, 3, 4, 5, 6]))

In [5]:
glm_svd_newton(Contraception, "age + I(age**2) + urban + livch", y)

(                    0
 Intercept   -0.949952
 urban[T.Y]   0.768097
 livch[T.1]   0.783113
 livch[T.2]   0.854904
 livch[T.3+]  0.806025
 age          0.004584
 I(age ** 2) -0.004286, 5, 7, array([0, 1, 2, 3, 4, 5, 6]))

In [6]:
inc = irls_incremental_dm("data2.csv", chunksize=500)
inc[0]

          0
0 -0.949952
1  0.004584
2 -0.004286
3  0.768097
4  0.783113
5  0.854904
6  0.806025

In [7]:
inc = irls_incremental_dm("data2.csv", chunksize=500, headerNames=['a','b','c','d','e','f','g'])
inc[0]

          0
a -0.949952
b  0.004584
c -0.004286
d  0.768097
e  0.783113
f  0.854904
g  0.806025

In [8]:
inc = irls_incremental_dm("dataheader2.csv", chunksize=500, yPos='use',header=0)
inc[0]

                     0
Intercept    -0.949952
 age          0.004584
 I(age ** 2) -0.004286
 urban[T.Y]   0.768097
 livch[T.1]   0.783113
 livch[T.2]   0.854904
 livch[T.3+]  0.806025

In [9]:
inc = irls_incremental_dm("dataheader2.csv", chunksize=500, header=0,headerNames=['a','b','c','d','e','f','g'])
inc[0]

          0
a -0.949952
b  0.004584
c -0.004286
d  0.768097
e  0.783113
f  0.854904
g  0.806025

In [10]:
inc = irls_incremental("Contraception.csv", formula = 'I(use.eq("Y").mul(1)) ~ age + I(age**2) + urban + livch', 
                       chunksize=500, rNames = ['Intercept','age','I(age ** 2)','urban[T.Y]','livch[T.1]','livch[T.2]','livch[T.3+]'])
inc[0]

                    0
Intercept   -0.949952
urban[T.Y]   0.004584
livch[T.1]  -0.004286
livch[T.2]   0.768097
livch[T.3+]  0.783113
age          0.854904
I(age ** 2)  0.806025